$primary: #0082fd;
$primary-light: #2b98ff;
$secondary: #fd8902;
$secondary-2: #feed00;
$secondary-20: #fde2ce;
$succes-accept: #27ae60;
$success-20: #dcf3d1;
$error: #ff4d4f;
$error-20: #ffdbdc;
$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3-bg: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$deactive-gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
$primary-30-not-transparent: #b3dafe;
$primary-20: #cce6fe;
$blue: #3ea1fd;